*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:1px solid red;
}
ul{
  list-style: none;
}
#root{
    width: min(100vw, 800px);
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
   
}
main{
  flex:1;
  min-height: 0;/* prevent expand with content */
}
main > div{
  height: 100%; 
}
/* nav */

.title{
  text-align: center;
}
.nav-links{
  display: flex;
  gap:0.5rem;
}
.nav-links a{
  padding: 0.5rem;
  margin-inline: .25rem;
}
.logout-form{
  display:contents
}
.nav-buttons {
  margin-inline-start: auto;
  display: flex;
  gap: 0.5rem;
}
.users-list{
  padding-inline:1rem
}
.users-list li{
  padding:0.5rem;
  border-bottom:1px solid rgb(158, 158, 158);
 
}
.users-list li button{
  display:inline-block;
  margin-inline-start: auto;
}
/* chat page styleins */

.chat-dashboard{
   width:100%;
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.chat-list,
.chat-window{
     background-color:rgba(0, 128, 0, 0.451);
    padding:1rem;
    grid-column: 1;
    grid-row: 1;
    border:1px solid rgb(158, 158, 158);
    overflow-y: auto;

}

.chat-list{
      background-color:rgba(245, 147, 123, 0.451);
}
.messages{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message{
  padding:0.5rem;
  margin:0.25rem;
  border-radius: 0.5rem;
  max-width: 70%;
}
.message.sent{
  background-color: yellow;
  align-self: flex-start;
}
.message.sent .owner,
.direct-msg .owner{
  display: none;
}
.message.received{
  background-color: white;
}
@media (min-width: 769px) {
  .chat-dashboard {
    grid-template-columns: 300px 1fr; /* Fixed sidebar, expanding window */
 
  }

  .chat-list {
    grid-column: 1;
  }

  .chat-window {
    grid-column: 2;
  }
}
.active-room{
    background-color:rgba(43, 48, 43, 0.451);
}
li.chat-room{
    list-style: none;
    padding:0.5rem;
    cursor: pointer;
    margin-bottom:  0.2rem;
    border:#bec5d3 solid 1px;
}